+*
*~
*.exe
*.elc
*.la
*.lo
*.o
*.star
.svn
.deps
.dirstamp
.libs
aclocal.m4
autom4te.cache
config.h.in
config.h
config.log
config.status
configure
INSTALL
libtool
Makefile.in
Makefile
pkgrules.tmp
stamp-h1
termbold
termnorm

/elc-stamp
/gnu-smalltalk.pc
/gst
/gst-config
/gst-mode.el
/gst-tool
/gst.im
/smalltalk-mode-init.el
