+*
*~
*.exe
*.elc
*.la
*.lo
*.o
*.star
*.sw?
.svn
.deps
.dirstamp
.libs
aclocal.m4
autom4te.cache
config.h.in
config.h
config.log
config.status
configure
INSTALL
libtool
Makefile.in
Makefile
pkgrules.tmp
stamp-h1
termbold
termnorm

/elc-stamp
/gnu-smalltalk.pc
/gst
/gst-config
/gst-mode.el
/gst-tool
/gst.im
/smalltalk-mode-init.el


libgst/genbc
libgst/genbc-decl.stamp
libgst/genbc-impl.stamp
libgst/genpr-parse.stamp
libgst/genprims
libgst/genvm
libgst/genvm-parse.stamp

lightning/asm-i386.h
lightning/core-i386.h
packages/glib/libs.def
packages/gtk/Enums.st
packages/gtk/Funcs.st
packages/gtk/Structs.st
packages/gtk/cpp
packages/gtk/enums
packages/gtk/enums.c
packages/gtk/funcs
packages/gtk/libs.def
packages/gtk/mk_enums
packages/gtk/mk_sizeof
packages/gtk/order
packages/gtk/sizeof
packages/gtk/sizeof.c
packages/gtk/structs
packages/i18n/ref-add.sed
packages/i18n/ref-del.sed
packages/net/gnutls-wrapper
packages/object-dumper/stamp-classes
packages/sttools/stamp-classes
snprintfv/snprintfv/compat.stamp

tests/gst.im
tests/testsuite.dir/
tests/testsuite.log
